<div id="register-form-div" style="display: none;">
  <form id="register-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Please Enter Your Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp"
        placeholder="Enter a Username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>

    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck2">
      <label class="form-check-label" for="exampleCheck2">Check me out</label>
    </div> -->

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
