<div id="search-form-div" style="display: none;">
  <form id="search-form">
    <div class="form-group row">
      <label for="quizname" class="col-sm-2 col-form-label">Quiz Name</label>
      <div class="col-sm-10">
        <input type="text" name="quizName" class="form-control" id="quizname" placeholder="Quiz Name">
      </div>
    </div>
    <div class="form-group row subjectSelect">
      <label for="subjectSelect" class="col-sm-2 col-form-label">Subject</label>
      <select class="custom-select col-sm-10" name="subjectSelect" id="subjectSelect" multiple size="4">
        <option value="1">English</option>
        <option value="2">Science</option>
        <option value="3">Math</option>
        <option value="4">General</option>
      </select>
    </div>
    <div class="form-group row levelSelect">
      <label for="levelSelect" class="col-sm-2 col-form-label">Level</label>
      <select class="custom-select col-sm-10" name="levelSelect" id="levelSelect" multiple size="4">
        <option value="1">Elementary</option>
        <option value="2">Middle School</option>
        <option value="3">High School</option>
        <option value="4">Adult</option>
      </select>
    </div>
    <div class="form-group row toughnessSelect">
      <label for="toughnessSelect" class="col-sm-2 col-form-label">Toughness</label>
      <select class="custom-select col-sm-10" name="toughnessSelect" id="toughnessSelect" multiple size="4">
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option>
      </select>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Search Quizzes</button>
      </div>
    </div>
  </form>
</div>

</header>