<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

  <title>Inquizitive</title>

  <!-- TEMPLATED CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- FOR NOW - PORT TO SCSS -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!-- CSS -->
  <!-- Add Material font (Roboto) and Material icon as needed -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Add Material CSS, replace Bootstrap CSS -->
  <link href="../styles/material.min.css" rel="stylesheet">

  <!-- TEMPLATED SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV OPTIONS FOR PAGES -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
      <!-- NAV OPTIONS FOR LOGIN/REGISTER/SEARCH -->
     <div class="nav-utility-buttons">
      <ul class="nav justify-content-end">
        <li class="nav-item list-group-item-primary">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
        <li class="nav-item list-group-item-primary">
          <a class="nav-link" href="#">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="material-icons">search</span></a>
        </li>
      </ul>
     </div>
    </div>
  </nav>
  
  <div id="login-form"></div>










  <!-- MATERIAL HELPERS - Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
  <script src="../scripts/material.min.js"></script>
</body>

</html>