<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

  <title>Inquizitive - Login</title>

  <!-- TEMPLATED CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- FOR NOW - PORT TO SCSS -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!-- CSS -->
  <!-- Add Material font (Roboto) and Material icon as needed -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Add Material CSS, replace Bootstrap CSS -->
  <link href="../styles/material.min.css" rel="stylesheet">

  <!-- TEMPLATED SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <!-- CUSTOM SCRIPTS -->
  <!-- LOGIN -->
  <script type="text/javascript" src="/scripts/register.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script type="text/javascript" src="/scripts/logout.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <!-- <div id="login-form-div">
    <form id="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
  </div> -->




  <!-- MATERIAL HELPERS - Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
  <script src="../scripts/material.min.js"></script>
</body>

</html>
=======
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
  </head>

  <body>
    <main>
      <form class="login-form" action="/login" method="POST">
        <div class="form-group">
          <input id="email" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input id="password" type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" id="login">Login</button>
      </form>
    </main>
  </body>

</html>
>>>>>>> 44271376733bc383268e1ab9119ec4651fd4da4f
