.form {
  padding: 5%;
}

.form:first-child {
  padding-top: 20%;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav-left {
  display: flex;
  flex-direction:row;
  justify-content: start;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
  padding: 4%;
}

ul.nav {
  padding: 0;
}

#button {
  font-size: 1em;
}
