// See: https://sass-lang.com/

body {
  background-color: #ede7e3;

  .btn {
    background-color: #ff6b6b!important;
  }


    .list-group{
      margin-bottom: 3em;
    }
    nav {
      height: 6em;
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;
    }

    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
      position: fixed;
      // padding:  1em 0 0;

      .nav-link {
        padding: .5em .5em;
        color: #EEE;
      }
      .navbar-brand {
        padding: .5em 1em;
      }

      // #navbarNavAltMarkup {
      //   justify-content: end!important;
      // }
    }

    #login-button {
      background-color: #ff6b6b;
    }

    #register-button {
      background-color: #ff6b6b;
    }

    .partials-container{
      padding: 0.8em 3em;
      #login-form {
        margin-top: 6em;
      }

      #search-form {
        margin-top: 6em;
      }

      #register-form {
        margin-top: 6em;
      }
    }

    #body-container{
      padding: 5em 2.5em;
      // flex-direction: column;
      width: 100vw;
      margin: 0;

      .bg-success {
        background-color: #90be6d!important;
    }

      .card-body {
        margin: 2.5em 0;
      }

      #heading {
        width: 100%;
      }

      .display-2 {
        border-bottom: .05em solid white;
        padding: .5em 0;
      }

      .quiz-header{
        width: 100%;
        top:2em;
      }
      .individual-card{
        margin: 1em;
      }

      .home-feature-img{
        background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1741&q=80");
        min-height: 35em;
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.48);
        // margin: 3em 2em;
      }
      .rounded {
        border-radius: 0.5em;
      }

      // #accordion {
      //   width: 100vw;
      // }

    }

    .card-img-top {
      max-width: 510px;
      max-height: 200px;
      image-resolution:72dpi;
    }

    #search-form {
      padding: 1em;
      width: 95vw;
    }

    #login-form {
      padding: 1em;
      width: 95vw;
    }

    #registration-form {
      padding: 1em;
      width: 95vw;
    }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
      -ms-flex-preferred-size: auto;
      display: -ms-flexbox!important;
      display: flex!important;
      flex-basis: auto;
      justify-content: space-between;
      height: 4em;
    }
  }
