body {
  background-color:#eee4e1;
  padding-top: 15%;
  width: 100vw;
}

.container {
  border: .2em solid #81b29a;
  padding: 4%;
  margin: 4% 0;
}

.content {
  margin: 4%;
}

.btn {
  background-color: #5f506b;
  color: #eee4e1
}

.title {
  display: block;
  color: #22333b;
  border-bottom: .1em solid #81b29a;
  width: 70%;
  padding-bottom: 2%;
  font-size: 2em;
}

.page-title {
  display: block;
  color: #22333b;
  border-bottom: .1em solid #81b29a;
  width: 70%;
  padding-bottom: 2%;
  margin-bottom: 15%;
  font-size: 2em;
    h1 {
      color: #244751;
    }

    .body-container{
      padding: 1em;
      // display: flex;

      .individual-card{
        // display: table-cell;
        margin: 1em;
      }

    }

    #search-form {
      padding: 1em;
      width: 95vw;
    }

    #login-form {
      padding: 1em;
      width: 95vw;
    }

    #registration-form {
      padding: 1em;
      width: 95vw;
    }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
      -ms-flex-preferred-size: auto;
      display: -ms-flexbox!important;
      display: flex!important;
      flex-basis: auto;
      justify-content: space-between;
    }
  }
