#body-container {
  width: 100%;
  padding: 1em;

  .individual-card{
    width: 100vw;
    border: .2em solid #81b29a;

    .card-title {
      font-family: 'Raleway', sans-serif;
    }

  }
}

.card-deck {
  background-color :#eee4e1;
}

.responsive {
  max-width: 100%;
  height: auto;
  margin: 5%;
}

.card-body {
  column-gap: 0;
}

h5 {
  border-bottom: .1em solid #81b29a;
}

a.btn {
  background-color: #5f506b;
  color: #ede7e3;
}
