h2.title {
  border-bottom: .1em solid #81b29a;
  width: 100%;
  padding-bottom: 2%;
}

h3.title {
  border-bottom: none
}

form.options {
  margin: 8% 0;
  color: #22333b;
}

input[type="radio"] {
  margin: 2% 0 0;
}

// show on quiz submission

span.material-icons {
  float: right;
  font-size: 3em;
  color: #e71d36;
}
